@use 'src/media';
@use 'src/variables';
@use 'src/helper';
@use 'src/spacing';
h2 {
  @extend %card-padding;
  font-size: 2.625rem;
}
.cards {
  flex-wrap: wrap;
  padding: 0 3.4375rem;
  @extend %mobile-margin-center;
  .card {
    width: 18.125rem;
    height: 23.5625rem;
    filter: drop-shadow(0rem 0.875rem 1.75rem rgba(0, 0, 0, 0.14));
    border-radius: 0.3125rem;
    background: rgb(107, 99, 99);
    @extend %margin-card;
    @include media.breakDown(small) {
      height: 211px;
      width: 264px;
    }
  }
}
