@use 'src/media';
@use 'src/variables';
@use 'src/helper';
.hero {
  min-width: 100%;
  min-height: 50vh;
  padding-top: 0rem;
  @include media.breakUp(x-large) {
    min-height: 65vh;
    background-size: 1366px 100%;
    margin: 0 auto;
  }
}
h1 {
  color: variables.$whiteColor;
  font-size: 4.25rem;
  letter-spacing: 5pt;
  line-height: 5rem;
  font-weight: 700;
  padding-top: 6rem;
  margin-bottom: 2.5rem;
}

.above-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
@include media.breakDown(medium) {
  h1 {
    font-size: 3.5rem;
  }
}
@include media.breakDown(small) {
  h1 {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
}

.slide-container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(145, 145, 145, 0.459),
      rgba(1, 1, 1, 0.596)
    );
  }
}
.slides {
  display: flex;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  img {
    display: inline-block;
    height: 80vh;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
    &:nth-child(1) {
      object-position: 10% 20%;
    }
    &:nth-child(3) {
      object-position: 10% 10%;
    }
    &:nth-child(4) {
      object-position: 10% 10%;
      width: 70%;
    }
    @include media.breakDown(small) {
      &:nth-child(3) {
        object-position: 49% 50%;
        width: 100%;
      }
      &:nth-child(4) {
        object-position: 60% 50%;
        width: 100%;
      }
    }
  }
}
