@use 'src/variables';
@use 'src/spacing';
@use 'src/media';
@use 'src/helper';
nav {
  position: sticky;
  width: auto;
  top: 0;
  left: 0;
  @extend %navPadding;
  background: variables.$purpleColor;
  z-index: 1000000000;
  @include media.breakDown(small) {
    padding: spacing.$navSPadding;
  }
}
img {
  height: 4.5rem;
  width: 4.6875rem;
  @include media.breakDown(small) {
    height: 42px;
    width: 44px;
  }
}
.nav-btn {
  height: 100%;
  width: 100%;
}
li {
  margin-left: 4.0625rem;
}
a {
  color: variables.$whiteColor;
}
@include media.breakDown(small) {
  ul {
    position: absolute;
    flex-direction: column;
    background-color: variables.$purpleColor;
    height: 0vh;
    top: 0%;
    opacity: 0;
    left: 0;
    text-align: center;
    transition: all 0.3s ease-in;
    &.show {
      width: 100%;
      height: 30vh;
      top: 99%;
      flex-direction: column;
      background-color: variables.$purpleColor;
      opacity: 0.8;
      transition: all 0.1s ease-out;
    }
  }
  li {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
  button .nav-btn span.show {
    transition: all 0.3s ease-out;
    transform-origin: 3px 0px;
    &.one {
      transform: rotate(45deg);
    }
    &.two {
      opacity: 0;
    }
    &.three {
      transform: rotate(-45deg);
    }
  }
}

@include media.breakDown(medium) {
  li {
    font-size: 85%;
  }
}
button {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
button .nav-btn span {
  display: block;
  height: 1px;
  width: 2rem;
  background-color: variables.$whiteColor;
  transition: all 0.3s ease-in-out;

  &:not(:first-child) {
    margin-top: 8px;
  }
}
