@use 'src/variables';
@use 'src/spacing';
@use 'src/media';
@use 'src/helper';

nav {
  padding: spacing.$navPadding;
  background: variables.$purpleColor;
}
img {
  height: 4.5rem;
  width: 4.6875rem;
}
.nav-btn {
  height: 100%;
  width: 100%;
}
li {
  margin-left: 4.0625rem;
}
a {
  color: variables.$whiteColor;
}
@include media.breakDown(small) {
  ul {
    position: fixed;
    top: -100%;
    left: 0;
    transition: all 0.3s ease;
    text-align: center;
  }
  li {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
  ul.show {
    width: 100%;
    height: 30vh;
    top: 9%;
    flex-direction: column;
    background-color: variables.$purpleColor;
  }
}
@include media.breakDown(medium) {
  li {
    font-size: 75%;
  }
}
a .nav-btn span {
  display: block;
  height: 1px;
  width: 2rem;
  background-color: variables.$whiteColor;
  margin-top: 10px;
}
