@use 'media';
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.6;
}
body {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  box-sizing: inherit;
  overflow-x: hidden;
  letter-spacing: 1px;
  @include media.breakUp(x-large) {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
  }
  @include media.breakDown(medium) {
    font-size: 75%;
  }
}
li {
  list-style: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
  outline: none;
}
button {
  outline: none;
}
